/* stylelint-disable max-line-length */

/* fallback font for Syncopate */
@font-face {
  font-family: syncopate-fallback;
  size-adjust: 120%;
  src: local('Arial Black');
}

/* fallback font for Instrument Sans */
@font-face {
  font-family: instrument-sans-fallback;
  size-adjust: 100%;
  src: local('Arial');
}
