/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: #fff;
  --light-color: #f7f8f5;
  --dark-color: #505050;
  --text-color: #000;
  --text-color-muted: rgba(0 0 0 / 70%);
  --text-color-subtle: rgba(0 0 0 / 60%);
  --link-color: #000;
  --link-hover-color: #000;
  --accent-color: rgba(244 254 139 / 50%);
  --border-color: #dadada;

  /* fonts */
  --body-font-family: 'Instrument Sans', instrument-sans-fallback, sans-serif;
  --heading-font-family: 'Syncopate', syncopate-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 30px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;

  /* nav height */
  --nav-height: 75px;

  /* section spacing */
  --section-spacing: 80px;
}

@media (width >= 900px) {
  :root {
    /* heading sizes */
    --heading-font-size-xxl: 72px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 20px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;

    /* section spacing */
    --section-spacing: 112px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.04;
  letter-spacing: -0.01em;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

p {
  color: var(--text-color-muted);
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: none;
  border-radius: 1600px;
  padding: 16px 24px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--body-font-size-s);
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: var(--text-color);
  box-shadow: rgb(0 0 0) 0 0 0 2px inset, var(--accent-color) 4px 4px 0 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: transparent;
  box-shadow: rgb(0 0 0) 0 0 0 2px inset, var(--accent-color) 6px 6px 0 0;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  box-shadow: none;
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  box-shadow: rgb(0 0 0) 0 0 0 2px inset;
}

a.button.secondary:hover,
button.secondary:hover {
  box-shadow: rgb(0 0 0) 0 0 0 2px inset;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  padding: var(--section-spacing) 0;
  margin: 0;
}

main > .section > div {
  max-width: 1000px;
  margin: auto;
  padding: 0 16px;
}

main > .section:first-of-type {
  padding-top: 40px;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata styles */
main .section.secondary {
  background-color: var(--light-color);
}

main .section.inverse {
  background-color: #000;
  color: #fff;
}

main .section.inverse p {
  color: rgba(255 255 255 / 70%);
}

main .section.inverse a.button:any-link {
  color: #fff;
  box-shadow: rgb(255 255 255) 0 0 0 2px inset, var(--accent-color) 4px 4px 0 0;
}

main .section.inverse a.button:hover {
  box-shadow: rgb(255 255 255) 0 0 0 2px inset, var(--accent-color) 6px 6px 0 0;
}

main .section.inverse a.button.secondary {
  box-shadow: rgb(255 255 255) 0 0 0 2px inset;
}

/* highlight/light for backwards compat */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}
